<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Guild Wars 2 items viewer</h1>

  <ngb-tabset type="pills">
    <ngb-tab title="Per storage">
      <ng-template ngbTabContent>
        <div>
          <h3>Bank</h3>
          <gw2-item *ngFor="let bankV of bank" [itemView]="bankV" style="word-spacing: 0"></gw2-item>
        </div>

        <div *ngFor="let characterData of charactersData">
          <h3>{{ characterData.name }}</h3>

          <h5>Equipment</h5>
          <gw2-item *ngFor="let eqV of characterData.equipment" [itemView]="eqV"></gw2-item>

          <h5>Bags</h5>
          <span *ngFor="let bag of characterData.bags">
            <span *ngIf="bag">
            <gw2-item *ngFor="let itemV of bag.inventory" [itemView]="itemV"></gw2-item>
            </span>
          </span>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Per type">
      <ng-template ngbTabContent>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Armor</th>
              <th>Light</th>
              <th>Medium</th>
              <th>Heavy</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let armorType of armorTypes">
              <td><strong>{{ armorType }}</strong></td>
              <td>
                <gw2-item *ngFor="let item of ascendedArmor['Light'][armorType]" [itemView]="item"></gw2-item>
              </td>
              <td>
                <gw2-item *ngFor="let item of ascendedArmor['Medium'][armorType]" [itemView]="item"></gw2-item>
              </td>
              <td>
                <gw2-item *ngFor="let item of ascendedArmor['Heavy'][armorType]" [itemView]="item"></gw2-item>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Weapons</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let weaponType of weaponTypes">
              <td><strong>{{ weaponType }}</strong></td>
              <td>
                <gw2-item *ngFor="let item of ascendedWeapon[weaponType]" [itemView]="item"></gw2-item>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngFor="let type of itemTypes">
          <p>{{ type }}</p>
          <gw2-item *ngFor="let item of ascendedMap[type]" [itemView]="item"></gw2-item>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Per stats">
      <ng-template ngbTabContent>
        <div *ngFor="let stat of statsViews">
          <h3>{{ stat.name }}</h3>
          <gw2-item *ngFor="let item of stat.items" [itemView]="item"></gw2-item>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Table">
      <ng-template ngbTabContent>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th *ngFor="let col of itemColumns"><b>{{ col.name }}</b><br><input type="text" [value]="itemFilters[col.name]" [formControl]="itemFiltersControl[col.name]"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredRows" [class]="row.class || ''">
                <td *ngFor="let col of itemColumns">{{ row[col.name] }}</td>
              </tr>
            </tbody>
          </table>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>

  <div style="height: 400px;"></div>
</div>
