<ng-template #tipContent>
  <h5><span style="color: green" *ngIf="itemView?.stats?.stat?.name">{{ itemView.stats.stat.name }}</span> {{ itemView?.item?.name }}</h5>
  <p *ngIf="itemView?.item?.type">{{ itemView.item.type }} <span *ngIf="itemView?.item?.details?.type"><br> {{ itemView.item.details.type }}</span></p>
  <span>Source: <b>{{ itemView?.source }}</b></span>
  <br>
  <span>Binding: <b>{{ itemView?.binding }}</b></span>
  <div *ngIf="itemView?.stats">
    <div class="gw2-stat" *ngIf="itemView.stats.attributes.Power">+{{ itemView.stats.attributes.Power }} Power</div>
    <div class="gw2-stat" *ngIf="itemView.stats.attributes.Precision">+{{ itemView.stats.attributes.Precision }} Precision</div>
    <div class="gw2-stat" *ngIf="itemView.stats.attributes.Toughness">+{{ itemView.stats.attributes.Toughness }} Toughness</div>
    <div class="gw2-stat" *ngIf="itemView.stats.attributes.Vitality">+{{ itemView.stats.attributes.Vitality }} Vitality</div>
    <div class="gw2-stat" *ngIf="itemView.stats.attributes.ConditionDamage">+{{ itemView.stats.attributes.ConditionDamage }} Condition Damage</div>
    <div class="gw2-stat" *ngIf="itemView.stats.attributes.CritDamage">+{{ itemView.stats.attributes.CritDamage }} Ferocity</div>
    <div class="gw2-stat" *ngIf="itemView.stats.attributes.Healing">+{{ itemView.stats.attributes.Healing }} Healing Power</div>
    <div class="gw2-stat" *ngIf="itemView.stats.attributes.BoonDuration">+{{ itemView.stats.attributes.BoonDuration }} Concentration</div>
    <div class="gw2-stat" *ngIf="itemView.stats.attributes.ConditionDuration">+{{ itemView.stats.attributes.ConditionDuration }} Expertise</div>
  </div>
  <div *ngIf="itemView?.selectStats">
    <br />
    <span>Select stats:</span>
    <div class="gw2-stat" *ngFor="let stat of itemView.selectStats">{{ stat.name }}</div>
  </div>
</ng-template>

<div [style.background-image]="itemView?.item?.safeUrl" [ngClass]="['gw2-item', itemView?.item?.rarityClass || '']"
      placement="bottom" [ngbTooltip]="tipContent" *ngIf="itemView?.item">
  <b class="gw2-item-count" *ngIf="itemView?.count && itemView.count > 1">{{ itemView.count }}</b>
</div>
