@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.tooltip-inner {
  max-width: 500px;
  min-width: 500px;
  width: 500px;
  text-align: left;
}
